<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Need a new password</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

<div class="row control-group">

<label>Email</label>
 <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
            <p class="help-block text-danger"></p>
                            </div>
                        </div>
  

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>

         </div>
            </div>
        </div>
    </section>
<% end %>

<%= render "devise/shared/links" %>


                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                  
                        
                              
                        
                        
                        
                        
                 